<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Tests">
    <test name="CREATE Test">
        <classes>
            <class name="test.java.API.test.A_PostNewUserAPITest"></class>
        </classes>
    </test>
    <test name="LIST Test">
        <classes>
            <class name="test.java.API.test.B_GetUserListAPITest"></class>
        </classes>
    </test>
    <test name="RETRIEVE Test">
        <classes>
            <class name="test.java.API.test.C_GetUserValidationAPITest"></class>
        </classes>
    </test>
    <test name="PUT Test">
        <classes>
            <class name="test.java.API.test.B_PutUserAPITest"></class>
        </classes>
    </test>
    <test name="DELETE Test">
        <classes>
            <class name="test.java.API.test.E_DeleteUserAPITest"></class>
        </classes>
    </test>
</suite>